{% extends 'base.html' %}

{% block content %}
<form method="POST" action="/snsche/add">
    <table class="table">
    {{ form.hidden_tag() }}
        <tr> {{ form.ip.label }}: {{ form.ip(size=20) }}</tr>

    <tr>{{ form.name.label }}: {{ form.name(size=20) }}</tr>
        <tr>
           <td>{{ form.sec.label }}:{{ form.sec(size=4) }}</td>
           <td>{{ form.min.label }}:{{ form.min(size=4) }}</td>
           <td>{{ form.hour.label }}:{{ form.hour(size=4) }}</td>
           <td>{{ form.day.label }}:{{ form.day(size=4) }}</td>
           <td>{{ form.weekend.label }}:{{ form.weekend(size=4) }}</td>

        </tr>
<tr>{{ form.trigger.label }} {{ form.trigger(size=20) }}</tr>

    <tr>{{ form.cmd.label }} {{ form.cmd(size=20) }}</tr>
    <tr>{{ form.comment.label }} {{ form.comment(size=20) }}</tr>
    <tr><input type="submit" value="Go"></tr>
    </table>
</form>


{% endblock %}